<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-title style="text-align: center;">Anúncio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card>
    <img src="../../assets/imgs/servico.jpg" />
    <ion-item>
      <ion-card-header>
        <ion-card-title style="font-family: sans-serif;font-size: 22px;color: #6d665f;margin-top: 10%;">
          {{ anuncio.titulo }} </ion-card-title>
      </ion-card-header>
      <h1 style="font-size: 20px;
      margin-bottom: 0%;
      margin-top: 8%;" class="preco">R$ {{ preco }},00</h1>
    </ion-item>
    <ion-item>
      <ion-card-header class="userAnunName">
        <h1 style="margin-top: 0px;font-size: 23px;text-decoration: underline;color: #0675c3;" (click)="viewProfile()">{{usuarioAnunciante.nome}}</h1>
      </ion-card-header>
      <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>
    </ion-item>
    <ion-list>
      <ion-list-header>
        <ion-label>Descrição</ion-label>
      </ion-list-header>

      <ion-card-content style="margin-left: 4%;">
        {{anuncio.descricao}}
      </ion-card-content>
    </ion-list>

    <ion-list (ionChange)="checkDays($event)">
      <ion-list-header>
        <ion-label>Endereço do Anunciante</ion-label>
      </ion-list-header>
      <ion-card-content style="margin-left: 4%;padding-bottom: 1%;padding-top: 1%;">
        <span style="color: #29231f;font-weight: bold;font-family: sans-serif;">Bairro:</span>
        {{ usuarioAnunciante.bairro}}
      </ion-card-content>
      <ion-card-content style="margin-left: 4%; padding-top: 0%;">
        <span style="color: #29231f;font-weight: bold;font-family: sans-serif;">Cidade:</span>
        {{ usuarioAnunciante.cidade }}
      </ion-card-content>
    </ion-list>



    <ion-list (ionChange)="checkDays($event)">
      <ion-list-header>
        <ion-label>Dias disponíveis</ion-label>
      </ion-list-header>
      <ion-item *ngIf="anuncio.segunda === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[1].isActive" name="{{disponibleDays[1].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Segunda - {{week.monday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.terca === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[2].isActive" name="{{disponibleDays[2].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Terça - {{week.tuesday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.quarta === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[3].isActive" name="{{disponibleDays[3].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Quarta - {{week.wednesday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.quinta === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[4].isActive" name="{{disponibleDays[4].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Quinta - {{week.thursday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.sexta === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[5].isActive" name="{{disponibleDays[5].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Sexta - {{week.friday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.sabado === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[6].isActive" name="{{disponibleDays[6].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Sábado - {{week.saturday}}</ion-label>
      </ion-item>
      <ion-item *ngIf="anuncio.domingo === 'true'">
        <ion-checkbox color="primary" [(ngModel)]="disponibleDays[0].isActive" name="{{disponibleDays[0].day}}">
        </ion-checkbox>
        <ion-label class="label-days">Domingo - {{week.sunday}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-radio-group (ionChange)="checkValue($event)">
        <ion-list-header>
          <ion-label>Horarios disponíveis</ion-label>
        </ion-list-header>

        <ion-item *ngIf="anuncio.horario1 !== ''">
          <ion-label>{{anuncio.horario1}} hrs</ion-label>
          <ion-radio slot="start" value="{{anuncio.horario1}}"></ion-radio>
        </ion-item>

        <ion-item *ngIf="anuncio.horario2 !== ''">
          <ion-label>{{anuncio.horario2}} hrs</ion-label>
          <ion-radio slot="start" value="{{anuncio.horario2}}"></ion-radio>
        </ion-item>

        <ion-item *ngIf="anuncio.horario3 !== ''">
          <ion-label>{{anuncio.horario3}} hrs</ion-label>
          <ion-radio slot="start" value="{{anuncio.horario3}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-radio-group (ionChange)="checkPet($event)">
        <ion-list-header>
          <ion-label>Selecione o seu Pet</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let pet of pets">
          <ion-label>{{pet.nome}}</ion-label>
          <ion-icon name="paw"></ion-icon>
          <ion-radio slot="start" value="{{pet.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-radio-group (ionChange)="checkPayment($event)">
        <ion-list-header>
          <ion-label>Selecione a forma de pagamento</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Pagamento em Dinheiro</ion-label>
          <ion-icon name="cash"></ion-icon>
          <ion-radio slot="start" value="Dinheiro"></ion-radio>
        </ion-item>

        <ion-item disabled="true">
          <ion-label>Cartão de Crédito</ion-label>
          <ion-icon name="card"></ion-icon>
          <ion-radio slot="start" value="Credito"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button *ngIf="enableButton !== false" (click)="cadastrarAgenda()" expand="block">Contratar</ion-button>
    <ion-button *ngIf="enableButton === false" (click)="cadastrarAgenda()" expand="block" disabled="true">Contratar</ion-button>
  </ion-card>

</ion-content>
