ion-title{
  color: white;
  font-weight: bold;
}

.preco{
  text-align: right;
  color: green;
}

ion-card-header{
  width: 75%;
}

.userAnunName{
  font-weight: bold;
  color: #323a3f;
  width: 75%;
}

.stars{
  color: rgb(206, 206, 8);
  text-align: right;
}

h1{
  font-weight: bold;
  color: #323a3f;
  font-family: monospace;
}

.label-days{
  margin-left: 2%;
}

.item-bairro{
  color: #323a3f;
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  font-size: 18px;
  font-family: inherit;
}

.item-cidade{
  color:#323a3f;
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  font-size: 18px;
  font-family: inherit;
}

ion-radio.hydrated {
  margin-right: 10px;
}