ion-title{
  background-color: #5c5ce8;
  color: white;
  font-weight: bold;
}

.preco{
  text-align: right;
  color: green;
}

ion-card-header{
  width: 75%;
}

.userAnunName{
  font-weight: bold;
  color: blue;
  width: 75%;
}

.stars{
  color: yellow;
  text-align: right;
}

h1{
  font-weight: bold;
  color: #635f5f;
  font-family: monospace;
}

.label-days{
  margin-left: 2%;
}

.item-bairro{
  color: #857878;
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  font-size: 18px;
  font-family: inherit;
}

.item-cidade{
  color:#857878;
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  font-size: 18px;
  font-family: inherit;
}
