<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-title>Cadastrar Novo Serviço</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="../../assets/imgs/servico.jpg" alt="logo">

  <form [formGroup]="servicoGroup">
    <ion-list>
      <ion-list-header>Single Selection</ion-list-header>
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="anuncio.titulo" name="anuncio.titulo" formControlName="titulo">
          <ion-select-option value="1">Passeio de Pets</ion-select-option>
          <ion-select-option value="3">Banho de Pets</ion-select-option>
          <ion-select-option value="4">Tosa de Pets</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-textarea rows="8" cols="20" type="text" [(ngModel)]="anuncio.descricao" name="descricao" required
        placeholder="Descrição do Serviço" formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label>Selecione os dias que possui disponibilidade</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let dia of dias">
        <ion-checkbox color="primary" [(ngModel)]="dia.isChecked" name="{{dia.val}}" formControlName="dias"></ion-checkbox>
        <ion-label class="label-day">{{dia.val}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>Selecione até 3 horários diferentes que deseja iniciar as atividades, lembrando que o tempo médio por serviço é de 1 hora.</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Primeiro Horário</ion-label>
        <ion-datetime displayFormat="HH" [(ngModel)]="horario1" name="horario1" formControlName="h1"></ion-datetime> <span> Hrs</span>
      </ion-item>
      <ion-item>
        <ion-label>Segundo Horário</ion-label>
        <ion-datetime displayFormat="HH" [(ngModel)]="horario2" name="horario2" formControlName="h2"></ion-datetime> Hrs
      </ion-item>
      <ion-item>
        <ion-label>Terceiro Horário</ion-label>
        <ion-datetime displayFormat="HH" [(ngModel)]="horario3" name="horario3" formControlName="h3"></ion-datetime><span> Hrs</span>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-radio-group (ionChange)="checkValue($event)">
        <ion-list-header>
          <ion-label>Por quando tempo você deseja que o anúncio esteja disponível?</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>30 Dias</ion-label>
          <ion-radio slot="start" value="30" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>60 Dias</ion-label>
          <ion-radio slot="start" value="60"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Sem Limite</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button (click)="cadastrarAnuncio()" expand="full"  [disabled]="!servicoGroup.valid">Cadastrar</ion-button>
  </form>



</ion-content>
