ion-icon{
  float: right;
}

.service-name{
  font-weight: bold;
  width: 100%;
  margin-left: 5%;
  color: blue;
}

.icon-warning{
  color: #d9d904;
  font-size: 50px;
}

.icon-success{
  color: green;
  font-size: 50px;
}

.h1-agenda-id{
  font-weight: bold;
  color: blue;
}

.h4-name{
  font-weight: bold;
  width: 100%;
}

.h4-price{
  font-weight: bold;
  color: green;
  float: right;
}

.h4-user-name-anuncio{
  color: black;
  margin: 0;
  margin-top: 3%;
  font-weight: bold;
}

.h4-agenda-horario{
  color: #979292;
  margin: 0;
  margin-bottom: 3%;
  font-weight: bold;
}
