

h3{
  text-align: center;
}

.logo {
  width: 300px;
  margin-top: 12%;
  margin-bottom: 5%;
}

.container{
  text-align: center;
}

.label {
  color: #323a3f;
  font-weight: bold;
  font-family: inherit;
}

.email-input,
.senha-input{
 text-indent: 5px;
 background-color: #d6d6d6;
}

.item-inner{
  border: none !important; 
}

.login-input {
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.login-grid {
  display: grid;
  gap: 10px;
}

.cor>div{
  background: rebeccapurple !important;
}

.botao-login.entrar{
  margin-top: 9%; 
  width: 85%; 
  margin-left: 7%;
}

.botao-login.cadastrar{
  margin-top: 5%; 
  width: 85%; 
  margin-left: 7%;
}