h3{
  text-align: center;
}

.logo {
  width: 300px;
  margin-top: 12%;
  margin-bottom: 5%;
}

.container{
  text-align: center;
}

.label {
  color: #02adec;
  font-weight: bold;
  font-family: inherit;
}

