<ion-content padding>


  <div class="container">
    <img class="logo" src="../../../assets/imgs/petrun.png" alt="logo">
  </div>

  <form>

    <ion-item>
      <div class="login-input">  
        <div class="login-grid">
          <ion-label class="label" stacked>Email</ion-label>
          <ion-input class="email-input" type="text" [(ngModel)]="auth.email" name="email"></ion-input>
        </div>
    </div>

    </ion-item>
    <br />
    <ion-item>
      <div class="login-input">
        <div class="login-grid">
          <ion-label class="label" stacked>Senha</ion-label>
          <ion-input class="senha-input" type="password" [(ngModel)]="auth.password" name="password"></ion-input>
        </div>
        </div>
    </ion-item>

    <ion-button class="botao-login entrar" expand="block" (click)="login()">Entrar</ion-button>
    <ion-button class="botao-login cadastrar" expand="block" (click)="register()" fill="outline">Cadastre-se</ion-button>
  </form>

</ion-content>
