ion-title {
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .ion-camera{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: gray;
    float: right;
    margin-top: 3%;
}