<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-title style="text-align: center;">Informações Do Seu Pet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item *ngIf="petImage.base64 !== null">
    <ion-avatar
      style="margin:auto;margin-top: 7%;border: 2px solid #c5bdbd;width: 135px;height: 135px;border-radius: 27%;margin-bottom: 16%;">
      <img style="width: 100%;height: 100%;border-radius: 26%;" src="{{petImage.base64}}">
      <ion-icon (click)="PickFileAndGetBase64String()" class="ion-camera" name="camera"></ion-icon>
    </ion-avatar>
  </ion-item>

  <ion-item *ngIf="petImage.base64 === null">
    <ion-avatar
      style="margin:auto;margin-top: 7%;border: 2px solid #c5bdbd;width: 135px;height: 135px;border-radius: 27%;margin-bottom: 16%;">
      <img style="width: 100%;height: 100%;border-radius: 26%;" src="../../assets/imgs/pet-profile-default.jpg">
      <ion-icon (click)="PickFileAndGetBase64String()" class="ion-camera" name="camera"></ion-icon>
    </ion-avatar>
  </ion-item>

  <ion-card *ngIf="!showEdit">
    <ion-item>
      <ion-icon name="paw"></ion-icon>
      <ion-label style="text-align: center;font-size: 26px;font-weight: bold;">{{pet.nome}}</ion-label>
      <ion-icon name="paw"></ion-icon>
    </ion-item>
    <ion-card-content> Pet: {{ pet.petType }} </ion-card-content>
    <ion-card-content> Raça: {{ pet.raca }} </ion-card-content>
    <ion-card-content> Idade: {{ pet.idade }} anos</ion-card-content>
    <ion-card-content> Peso: {{ pet.peso }} kg</ion-card-content>
    <ion-card-content> Descrição: {{ pet.descricao }} </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="showEditView()" expand="block">Editar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="deletePet(pet.id)" expand="block" color="danger" ion-button full>Excluir
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <form *ngIf="showEdit" [formGroup]="AtpetGroup">

    <ion-item (ionChange)="changeSelectBreeds($event)" disabled="true">
      <ion-label>Pet</ion-label>
      <ion-select value="Cachorro" okText="Okay" [(ngModel)]="pet.petType" name="petType" cancelText="Dismiss"
        formControlName="tipo">
        <ion-select-option value="Cachorro">Cachorro</ion-select-option>
        <ion-select-option value="Gato">Gato</ion-select-option>
        <ion-select-option value="Outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="dogsBreed">
      <ion-label>Raça</ion-label>
      <ion-select value="Outros" okText="Okay" [(ngModel)]="pet.raca" name="raca" cancelText="Dismiss"
        formControlName="Raca">
        <ion-select-option value="Bulldog Frances">Bulldog Frances</ion-select-option>
        <ion-select-option value="Bulldog Ingles">Bulldog Ingles</ion-select-option>
        <ion-select-option value="Golden Retriever">Golden Retriever</ion-select-option>
        <ion-select-option value="Labrador">Labrador</ion-select-option>
        <ion-select-option value="Lhasa Apso">Lhasa Apso</ion-select-option>
        <ion-select-option value="Maltes">Maltes</ion-select-option>
        <ion-select-option value="Pastor Alemão">Pastor Alemão</ion-select-option>
        <ion-select-option value="Pinscher">Pinscher</ion-select-option>
        <ion-select-option value="Pit Bull">Pit Bull</ion-select-option>
        <ion-select-option value="Poodle">Poodle</ion-select-option>
        <ion-select-option value="Pug">Pug</ion-select-option>
        <ion-select-option value="Shih Tzu">Shih Tzu</ion-select-option>
        <ion-select-option value="Rottweiler">Rottweiler</ion-select-option>
        <ion-select-option value="Rusky Siberiano">Rusky Siberiano</ion-select-option>
        <ion-select-option value="Yorkshire">Yorkshire</ion-select-option>
        <ion-select-option value="Outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!dogsBreed">
      <ion-label>Raça</ion-label>
      <ion-select value="Outros" okText="Okay" name="petType" cancelText="Dismiss">
        <ion-select-option value="Outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input style="text-align: right;" type="text" [(ngModel)]="pet.nome" name="nome" required placeholder=""
        formControlName="nome">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Idade</ion-label>
      <ion-select value="{{pet.idade}}" okText="Okay" cancelText="Dismiss" [(ngModel)]="pet.idade" name="idade"
        formControlName="idade">
        <ion-select-option *ngFor="let number of numbers" value="{{number}}">{{number}} anos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Peso</ion-label>
      <ion-select value="{{pet.peso}}" okText="Okay" cancelText="Dismiss" [(ngModel)]="pet.peso" name="peso"
        formControlName="peso">
        <ion-select-option *ngFor="let number of numbers" value="{{number}}">{{number}} kg</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-textarea rows="6" cols="20" type="text" [(ngModel)]="pet.descricao" name="descricao" required
        placeholder="Observações sobre seu pet" formControlName="descricao"></ion-textarea>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="dismissEditView()" color="danger" expand="block">Cancelar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="atualizarPet()" color="primary" expand="block" [disabled]="!AtpetGroup.valid">Atualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>